@page "/"

@using System.Linq
@using FlareSelect

@FocusScript.Fragment

@{
    Random rd = new Random(2);

    List<Option> options = Generate.Contacts(15).Select(v => v.NameOption).ToList();

    List<Option> optionsSingle = options.Select(v => v.Clone()).ToList();

    List<Option> optionsMultiple = new List<Option>();
    foreach (Option option in options)
    {
        option.Selected = rd.Next() % 2 == 0;
        optionsMultiple.Add(option);
    }
}

<div class="BodyWrapper">
    <FlareSelector Options="@optionsSingle" Multiple="@false"/>
    <br>
    <FlareSelector Options="@optionsMultiple" Multiple="@true"/>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
    
    <FlareSelector Options="@Generate.Contacts(50).Select(v => v.LongOption).ToList()" Multiple="@false"/>
    <br>
    <FlareSelector Options="@Generate.Contacts(50).Select(v => v.LongOption).ToList()" Multiple="@true"/>
</div>
