@using Integrant.Element.Bits

@typeparam T

@code {

    [CascadingParameter]
    public FlareTable<T> FlareTable { get; set; }

    Checkbox _checkbox;

    protected override void OnInitialized()
    {
        _checkbox = new Checkbox(async args => await HandleCheck(), isChecked: () => FlareTable.RegexMode);
    }

    private async Task HandleCheck()
    {
        await FlareTable.ToggleRegexMode();
    }

}

<TriggerWrapper Trigger="@FlareTable.UpdateTableControls" Protected="true">
    <div class="FlareTableRegexToggle">
        @_checkbox.Render()
        @* <Checkbox @onchange="(async args => await HandleCheck())" checked="@FlareTable.RegexMode" Size="ShapeSet.Components.Checkbox.CheckboxSize.Small"></Checkbox> *@
        <span>Regex Mode</span>
    </div>
    @* <div class="FlareTableRegexToggle" @onclick="@HandleCheck"> *@
    @* <input type="checkbox" checked="@FlareTable.RegexMode"/> *@
    @* <span>Regex Mode</span> *@
    @* </div> *@
</TriggerWrapper>