@using Superset.Common
@using Superset.Web.State
@using Microsoft.JSInterop

@typeparam T

@inject IJSRuntime JSRuntime

<div class="FlareSelect_Container @(!FlareSelector.Multiple ? "FlareSelect_Container--Single" : "FlareSelect_Container--Multiple")">
    <div class="FlareSelect_SelectedContainer">

        <div class="FlareSelect_Selected" @ref="@_selectedRef" tabindex="0">
            <TriggerWrapper Trigger="@FlareSelector.OnSelectionChange">
                @foreach (IOption<T> option in FlareSelector.Selected())
                {
                    <div class="FlareSelect_Selection">@option.SelectedText</div>
                }
            </TriggerWrapper>
            
        </div>

        @if (FlareSelector.Multiple)
        {
            <input type="text" class="FlareSelect_FilterInput" value="@FlareSelector.FilterValue" @oninput="UpdateFilterValue" tabindex="0"/>
        }

    </div>

    <div class="FlareSelect_OptionsContainer" tabindex="1" @onkeypress="@OnOptionsKeypress" @ref="@_optionsRef">
        <TriggerWrapper Trigger="@_onToggle" Protected="true">
            <div class="FlareSelect_Options" hidden="@(!_shown)">
                @if (!FlareSelector.Multiple)
                {
                    <input type="text" class="FlareSelect_FilterInput" value="@FlareSelector.FilterValue" @oninput="UpdateFilterValue" tabindex="0"/>
                }
                
                @* <TriggerWrapper Trigger="@FlareSelector.OnDataChange" Protected="true"> *@
                    @for (var b = 0; b < FlareSelector.Batches.Length; b++)
                    {
                        int batchID = b;

                        <TriggerWrapper Trigger="@FlareSelector.Batches[batchID].Item1" Protected="true">
                            @{
                                Console.WriteLine("Updating in: " + batchID);
                            }
                            @for (var o = 0; o < FlareSelector.Batches[batchID].Item2.Count; o++)
                            {
                                IOption<T> d = FlareSelector.Batches[batchID].Item2[o];

                                <div class="@(FlareSelector.IsOptionSelected(d) ? "FlareSelect_Option--Selected" : "")" hidden="@(!FlareSelector.IsOptionShown(d))" id="FS_O_@(batchID)_@(o)" tabindex="0">@d.OptionText</div>
                            }
                        </TriggerWrapper>
                    }
                @* </TriggerWrapper> *@
            </div>
        </TriggerWrapper>
    </div>
</div>