@using Superset.Logging
@typeparam T

@code {

    [CascadingParameter]
    public FlareTable<T> FlareTable { get; set; }

    [Parameter]
    public string ID { get; set; }

}

<TriggerWrapper Trigger="@FlareTable.UpdateTableBody" Protected="true">
    @if (FlareTable.Complete)
    {
        Log.Update("[COMPONENT] FlareTablePaginationButtons");

        <div class="FlareTablePaginationButtons">
            <button @onclick="@FlareTable.PreviousPage" disabled="@(!FlareTable.CanPrev)" class="FlareTablePaginationButton FlareTablePaginationButton--Previous">Previous</button>
            @foreach (int i in FlareTable.Pages())
            {
                if (i == -1)
                {
                    <button class="FlareTablePaginationButton FlareTablePaginationButton--Skipped" disabled="disabled">&nbsp;</button>
                }
                else
                {
                    <button @onclick="@(() => FlareTable.JumpToPage(i))" class="FlareTablePaginationButton @(FlareTable.CurrentPage == i ? "FlareTablePaginationButton--Current" : "")">@(i + 1)</button>
                }
            }
            <button @onclick="@FlareTable.NextPage" disabled="@(!FlareTable.CanNext)" class="FlareTablePaginationButton FlareTablePaginationButton--Next">Next</button>
        </div>
    }
</TriggerWrapper>